
Code*
Cursor
coc
spotify
Vencord
vivaldi*
MongoDB*Compass*
MongoDB Compass*
nextjs-nodejs
Termius
create-next-app
dconf
Electron
Exodus
JetBrains
github-copilot
discordptb
discordcanary
discord*
create-next-app-nodejs
obsidian
pulse
Thunar
Postman
go
Discord
Discord*
Discord Key Storage
Brave*
nexus
microsoft*
google-chrome*
gopls*
vlc-qt-interface.conf
GIMP
vesktop*
cava*
Thunar*
ibus*
dbviwer*
QtProject.conf
Antigravity*
configstore
