* {
    font: "JetBrainsMono Nerd Font 9";
    icon-theme: "Tela-circle-blue-dark";
    background: rgb(13, 13, 13);
    foreground: #abb2bf;
    selected-background:rgba(255, 255, 255, 0.5);
    selected-foreground:rgb(255, 255, 255);
    border-radius: 8px;
}

configuration {
    show-icons: true;
    display-run: " ";
}


window {
    width: 200px;
    height: 250px;
    transparency: "real";
    fullscreen: false;
    enabled: true;
    cursor: "default";
    spacing: 0px;
    border-radius: @border-radius;
    background-color: @background;
}

mainbox {
    enabled: true;
    spacing: 0px;
    padding: 4px;
    orientation: vertical;
    children: ["inputbar", "listview"];
    background-color: transparent;
}

inputbar {
    enabled: true;
    padding: 4px;
    spacing: 8px;
    margin: 6px;
    background-color: rgba(24, 24, 24, 0.91);
    text-color: @foreground;
    border-radius: @border-radius;
    children: ["prompt", "entry"];
}

prompt {
    enabled: true;
    background-color: transparent;
    text-color: inherit;
}

entry {
    enabled: true;
    padding: 3px;
    text-color: inherit;
    cursor: text;
    placeholder: "Search clipboard...";
    placeholder-color: #5c6370;
    background-color: transparent;
}

listview {
    enabled: true;
    columns: 1;
    lines: 10;
    cycle: true;
    dynamic: true;
    scrollbar: false;
    layout: vertical;
    reverse: false;
    fixed-height: true;
    fixed-columns: true;
    spacing: 5px;
    margin: 6px;
    background-color: transparent;
    border-radius: 2px;
}

element {
    enabled: true;
    padding: 6px;
    cursor: pointer;
    background-color: rgba(54, 54, 54, 0.24);
    text-color: @foreground;
    border-radius: 8px;
}

element-icon {
    size: 16px;
    cursor: inherit;
    background-color: transparent;
    text-color: inherit;
}

element selected.normal {
    background-color: @selected-background;
    text-color: @selected-foreground;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    cursor: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.0;
}

error-message {
    padding: 15px;
    text-color: #e06c75;
    background-color: @background;
    border-radius: @border-radius;
}